$card-padding: 25px;
$card-label-width: 80px;

.card {
	background-color: white;
}

.card-headline {
	background-color: $brand-primary;
	color: white;
	padding: $card-padding;
	position: relative;
	min-height: 100px;

	.card-photo {
		position: absolute;
		top: $card-padding / 2;
		right: $card-padding / 2;
		max-width: 85px;

		&.card-photo-empty {
			background: $gray-lighter no-repeat url(../img/avatar.png) center center;
			width: 85px;
			height: 100px;
		}
	}

	.card-title {
		color: white;
		font-size: $font-size-h2;
		position: absolute;
		bottom: $card-padding;
		left: $card-padding;
	}
}

.card-body {
	padding: $card-padding;
	@include clearfix;
}

.card-line {
	border-bottom: 1px solid $gray-light;
	display: block;
	margin-top: 15px;
	min-height: $line-height-computed;

	.card-label {
		text-transform: uppercase;
		width: $card-label-width;
		font-size: $font-size-small;
		display: inline-block;
	}

	.card-field {
		font-family: $font-family-serif;
	}

	&.no-label {
		.card-field {
			margin-left: $card-label-width;
		}
	}

	@media (min-width: $screen-md-min) {
		&.short-field {
			width: 50%;
			float: left;
		}
	}
}