.control-label {
	@extend .field-label;
	font-weight: normal;
	text-transform: uppercase;
	color: $brand-primary;
	font-size: $font-size-base;
}

legend {
	font-size: $font-size-small;
	text-transform: uppercase;
}

fieldset {
	margin-top: $form-group-margin-bottom * 2;
}

.form-control {
	font-family: $font-family-serif;
}

.button-create  {
	float: right;
}

@media (min-width: $screen-md-min) {
	.input-set {
		margin-left: -$grid-gutter-width;
		overflow: hidden;
	}

	.short-input {
		float: left;
		width: 50%;
		padding-left: $grid-gutter-width;
		box-sizing: border-box;
	}

	.button-upload-avatar, .button-create {
		float: left;
		width: calc(50% - #{$grid-gutter-width / 2});
		margin-top: $form-group-margin-bottom;
	}

	.button-upload-avatar {
		margin-right: $grid-gutter-width;
	}
}