$brand-primary: #394f63;
$legend-color: #b0b8bc;

$btn-default-color: white;
$btn-default-bg: #627b8b;
$btn-default-border: transparent;

$font-family-sans-serif: 'Merriweather Sans', sans-serif;
$font-family-serif: 'Merriweather', serif;