@import "variables";
@import "bootstrap";

@import url(https://fonts.googleapis.com/css?family=Merriweather:400,700|Merriweather+Sans:400,700);

@import "common";
@import "form";
@import "card";

.card {
	border: 1px solid $gray-lighter;
}

@media (min-width: $screen-md-min) {
	.hc-app {
		&:before {
			content: " ";
			position: absolute;
			left: 50%;
			top: 0;
			width: 50%;
			height: 100%;
			background-color: $gray-lighter;
		}
	}

	.card {
		border: none;
	}
}

.card-preview-title {
	text-transform: uppercase;
	color: $gray-light;
	font-size: $font-size-large;
	font-weight: normal;
}

@media(min-width: $screen-md-min) {
	.card-preview-title {
		text-align: right;
		margin-top: 120px;
	}
}